@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../public/email-backgroundImage.png");
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}
