.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  border-bottom: 3px solid;
  border-right: 3px solid;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  /* background-color: #8a2b06; */
  color: rgb(154, 19, 19);
}
/* .li button{
  font: inherit;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-right: 1rem;/
  border-bottom: 3px solid;
  border-right: 3px solid;/
}
.li button:hover,
.li button:active {
  background-color: #a72f2f;
  border-color: #5a1a01;
  color: white;
}
.li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #999;
  border-bottom: 1.5px #5a1a01 solid;
  padding-bottom: 10px;
  gap: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}
.li :nth-child(1){
  font-weight: bold;
  text-align: center;
}
.li :nth-child(1){
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px
} */